<!DOCTYPE html>
<html>
	<head>
		<title>CV Aurélien</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="../static/CV/css/style.css">
		<script src="../static/CV/js/script.js"></script>
	</head>
	

	
    <body data-spy="scroll" data-target=".navbar" data-offset="60">
		
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#about">Moi</a></li>
                        <li><a href="#skills">Compétences</a></li>
                        <li><a href="#experience">Expérience</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#recommandations">Recommandations</a></li>
                    </ul>
                </div>
            
            </div>
        
        </nav>
        
<!-- ABOUT -->		
		<section id="about" class="container-fluid">
			<div class="col-xs-8 xol-md-4 profile-picture">
				<img src="../static/CV/images/me.jpg" alt="Aurélien" class="img-circle">
			</div>
			<div class="heading">
				<h1>Hello, Moi c'est Aurélien</h1>
				<h3>Développeur, physicien</h3>
				<a href="../static/CV/docs/MON_CV.pdf" class="button1" download>Télécharger CV</a>
			</div> 
		</section>
	
<!-- SKILLS -->			
		<section id="skills">
			<div class="red-divider"></div>
			<div class="heading">
				<h2>Compétences</h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuiemin="0" aria-valuemax="100" style="width:70%">
								<h5>Datasciences 70%</h5>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuiemin="0" aria-valuemax="100" style="width:70%">
								<h5>Machine Learning 70%</h5>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuiemin="0" aria-valuemax="100" style="width:85%">								
								<h5>HTML/CSS 85%</h5>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuiemin="0" aria-valuemax="100" style="width:90%">								
								<h5>JAVASCRIPT 90%</h5>
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuiemin="0" aria-valuemax="100" style="width:80%">								
								<h5>PHYSICS 80%</h5>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuiemin="0" aria-valuemax="100" style="width:90%">								
								<h5>PYTHON 90%</h5>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuiemin="0" aria-valuemax="100" style="width:60%">
								<h5>JAVA 60%</h5>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuiemin="0" aria-valuemax="100" style="width:75%">
								<h5>C++ 75%</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
<!-- EXPERIENCE-->			
		<section id="experience">
			<div class="container">
				<div class="white-divider"></div>
				<div class="heading">
					<h2>Expérience professionnelle</h2>
				</div>
				<ul class="timeline">
					<li>
						<div class="timeline-badge"><span class="glyphicon glyphicon-briefcase"></span></div>
						
						<div class="timeline-panel-container">
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3>LUPM</h3>
									<h4>Projet tuteuré (3 mois)</h4>
									<p class="text-muted"><small class="glyphicon glyphicon-time"> Mars 2017-Juin 2017</small></p>
								</div>
								<div class="timeline-body">
									<p>Création d'une application de simulation pour cosmologistes (JS/Html) pour le Laboratoire Univers et Particules de Montpellier encadré par Monsieur Henri Reboul (LUPM) et Mme Isabelle Mougenot (LIRMM)</p>
								</div>
							</div>
						</div>
					</li>
					
					<li>
						<div class="timeline-badge"><span class="glyphicon glyphicon-briefcase"></span></div>
						
						<div class="timeline-panel-container-inverted">
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3>Atos/Bull</h3>
									<h4>Stagiaire R&D</h4>
									<p class="text-muted"><small class="glyphicon glyphicon-time"> Février-Juillet 2018</small></p>
								</div>
								<div class="timeline-body">
									<p>Simulation stochastique de bruit quantique par methode de Monte Carlo</p>
									<p>Developpement agile: Python, C/C++ et HPC.</p>
                                    <p>Git, Jenkins CI et Jira.</p>
								</div>
							</div>
						</div>
					</li>
					<!--
					<li>
						<div class="timeline-badge"><span class="glyphicon glyphicon-briefcase"></span></div>
						
						<div class="timeline-panel-container">
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3>Dior</h3>
									<h4>Assistant</h4>
									<p class="text-muted"><small class="glyphicon glyphicon-time"> 2016-2017</small></p>
								</div>
								<div class="timeline-body">
									<p>Un truc</p>
									<p>Something</p>
								</div>
							</div>
						</div>
					</li>
					-->
				</ul>
			</div>
		</section>
		
<!-- EDUCATION -->
		<section id="education">
			<div class="container">
			 <div class="red-divider"></div>
                <div class="heading">
                    <h2>Education</h2>
                </div>
				<div class="row">
					<div class="col-sm-6">
						<div class="education-block">
							<h5>2018</h5>
							<span class="glyphicon glyphicon-education"></span>
							<h3>Coursera</h3>
							<h4>Machine Learning (Stanford)</h4>
							<div class="red-divider"></div>
							<p>Complete machine learning course with Matlab.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="education-block">
							<h5>2018</h5>
							<span class="glyphicon glyphicon-education"></span>
							<h3>Udemy.com</h3>
							<h4>Deep Learning A-Z</h4>
							<div class="red-divider"></div>
							<p>ANN, CNN, RNN, SOMs, auto-encoders</p>
							<p>Neural networks and Deep learning.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="education-block">
							<h5>2017</h5>
							<span class="glyphicon glyphicon-education"></span>
							<h3>Udemy.com</h3>
							<h4>Formation "Les Data Sciences de A à Z"</h4>
							<div class="red-divider"></div>
							<p>Nettoyer, analyser, visualiser des données</p>
							<p>Créer et vérifier des modèles</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="education-block">
							<h5>2017</h5>
							<span class="glyphicon glyphicon-education"></span>
							<h3>Udemy.com</h3>
							<h4>Formation "Développeur Web"</h4>
							<div class="red-divider"></div>
							<p>HTML/CSS, Javascript, JQuery</p>
							<p>Responsive Design</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="education-block">
							<h5>2016-2018</h5>
							<span class="glyphicon glyphicon-education"></span>
							<h3>Université de Montpellier</h3>
							<h4>Master de Physique Numérique</h4>
							<div class="red-divider"></div>
							<p>Physique numérique</p>
							<p>HTML/CSS, Javascript, Python, Java</p>
						</div>
					</div>
										<div class="col-sm-6">
						<div class="education-block">
							<h5>2013-2016</h5>
							<span class="glyphicon glyphicon-education"></span>
							<h3>Université de Montpellier</h3>
							<h4>Licence de Physique</h4>
							<div class="red-divider"></div>
							<p>Physique fondamentale</p>
							<p>Physique informatique</p>
						</div>
					</div>
				</div>
			</div>
			
		</section>
		
<!-- Portfolio -->
		<section id="portfolio">
			<div class="container">
				<div class="white-divider"></div>
				<div class="heading">
					<h2>Portfolio</h2>
				</div>
				<div class="row">
				
					<div class="col-sm-6">
						<center><h3 style="color:white;">Projet tuteuré cosmologie</h3></center>
						<a class="thumbnail" href="http://www.lupm.univ-montp2.fr/cosmogravity/" target="_blank">
							 <img src="../static/CV/images/LogoLUPM.jpg" alt="Projet cosmogravity">
						</a>
					</div>
					<div class="col-sm-6">
					<center><h3 style="color:white;">Projet tuteuré plasma</h3></center>
						<a class="thumbnail" href="#" target="_blank">
							 <img src="../static/CV/images/th.jpg" alt="Projet Plasma">
						</a>
					</div>


				</div>
			<!--
				<div class="row">
					<div class="col-sm-4">
						<a class="thumbnail" href="http://www.lupm.univ-montp2.fr/cosmograve/" target="_blank">
							 <img src="images/facebook-share.png" alt="Projet cosmogravity">
						</a>
					</div>
					<div class="col-sm-4">
						<a class="thumbnail" href="http://www.lupm.univ-montp2.fr/cosmograve/" target="_blank">
							 <img src="images/facebook-share.png" alt="Projet cosmogravity">
						</a>
					</div>
					<div class="col-sm-4">
						<a class="thumbnail" href="http://www.lupm.univ-montp2.fr/cosmograve/" target="_blank">
							 <img src="images/facebook-share.png" alt="Projet cosmogravity">
						</a>
					</div>
				</div>
				-->
			</div>
			
		</section>
		
<!-- RECOMANDATIONS -->
       <!--
        <section id="recommandations">
            <div class="container">
                <div class="red-divider"></div>
                <div class="heading">
                    <h2>Recommandations</h2>
                </div>
                <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                    <ol class="carousel-indicators">
                         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="1"></li>
                         <li data-target="#myCarousel" data-slide-to="2"></li>  
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h3>"Aurélien est très motivé"</h3>
                            <h4>Un Professeur</h4>       
                        </div>
                          <div class="item">
                            <h3>"Un Electron libre"</h3>
                            <h4>Joseph John Thomson</h4>       
                        </div>
                          <div class="item">
                            <h3>"Un grand rêveur !"</h3>
                            <h4>Albert Einstein</h4>       
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev" role="button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next" role="button">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                
                </div>
            
            </div>
        
        
        </section>
        --->
                <footer class="text-center">
            <a href="#about">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <h5>© 2018 Aurélien Dentan </h5>
        </footer>
	</body>	
</html>